<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Entre letras</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">
</head>
<body>
    <header>
        <h1>Entre letras</h1>
    </header>
    <nav>
            <ul>
                <li><a href="{{url_for('main.index')}}">Inicio</a></li>
                <li><a href="{{url_for('main.escribir')}}">Escribir</a></li>
                <li><a href="{{url_for('main.cuenta')}}">Cuenta</a></li>
            </ul>
    </nav>
    <div class="container">
      <h2>{{user_loged}}</h2>
      <button class="cerrarss" onclick="cerrarss()">Cerrar sesión</button><br>
        <script src="{{ url_for('static',filename='js/scripts.js')  }}"></script>
      <table>
        <caption>Tus entradas:</caption>
        <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for entrada in entradas %}
            <tr>
              <td><a href="{{ url_for('main.leer', entrada_id=entrada.id) }}">{{entrada.titulo}}</a></td>
              <td><button class="borrar" onclick="borrar({{ entrada.id }})">Eliminar</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>