<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Entre letras</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">
</head>
<body>
    <header>
        <h1>Entre letras</h1>
    </header>
    <nav>
            <ul>
                <li><a href="{{url_for('main.index')}}">Inicio</a></li>
                <li><a href="{{url_for('main.escribir')}}">Escribir</a></li>
                <li><a href="{{url_for('main.cuenta')}}">Cuenta</a></li>
            </ul>
    </nav>
    <div class="container">
      <form action="{{ url_for('main.submit_ent') }}" method="post">
        <input type="text" id="titulo" name="titulo" placeholder="Titulo"><br>
        <textarea id="contenido" name="contenido" maxlength="2000" placeholder="Cuento, poema, etc. de máximo 2000 caracteres"></textarea><br>
        <input type="submit" value="Ingresar">
    </form>
    </div>
</body>
</html>